
<title>Surya Dantuluri's Blog</title>
 <dt-header id="mobile"><div class="content l-page"><a class="logo" href="/">    Surya Dantuluri</a><div class="navy topnav" id="myTopnav"><a href="https://private.suryad.com/software.html">Projects</a><a href="/research">Research</a><a href="https://suryad.com/about/">About</a></div></div></dt-header>
