.description h2,
.description p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

.description h2 {
  font-weight: 700;
}


.commento {
display: block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.5);
    background: rgb(250, 250, 250);
    padding-top: 36px;
    padding-bottom: 60px;
}


.thecenter{
    margin-left: auto;
    margin-right: auto;
}

.pushback{
    margin-left: -5px;
}
.special26{
    font-size: 26px;
}
h2.post-tag {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 12px;
}
.posts-list {
  margin-top: 24px;
  margin-bottom: 24px;
}

.posts-list .post-preview {
  text-decoration: none;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 0;
}
.posts-list .post-preview:last-of-type {
  border-bottom: none;
}

.posts-list .post-preview h2 {
  margin: 0 0 6px 0;
  line-height: 1.2em;
  font-style: normal;
  font-size: 24px;
}

.posts-list .post-preview p {
  margin: 0 0 12px 0;
  line-height: 1.4em;
  font-size: 16px;
}

.posts-list .post-preview .thumbnail {
  box-sizing: border-box;
  margin-bottom: 24px;
  position: relative;
  max-width: 560px;
  max-height: 295px;
}
.posts-list .post-preview img {
  width: 100%;
  display: block;
}

.posts-list .metadata {
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 18px;
}

.metadata > * {
  display: inline-block;
}

.metadata .publishedDate {
  margin-right: 1em;
}

.metadata .tags {
  margin-top: 1em;
}

.tags .tag {
  color: rgba(0,0,0,0.67);
  padding: 0.3em 0.5em;
  margin: 0;
  font-size: 80%;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
}

@media(min-width: 768px) {
  .posts-list .post-preview h2 {
    font-size: 26px;
  }
  .posts-list {
    margin-top: 60px;
  }
  .posts-list .post-preview .thumbnail {
    float: right;
    width: 35%;
    margin-bottom: 0;
  }
  .posts-list .post-preview .description {
    float: left;
    width: 40%;
  }
  .posts-list .post-preview .metadata {
    float: left;
    width: 15%;
    margin-top: 8px;
  }
  .posts-list .post-preview p {
    margin: 0 0 12px 0;
    line-height: 1.5em;
    font-size: 16px;
  }
}


html {
  font: 400 16px/1.55em -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, sans-serif;
  /*background-color: hsl(223, 9%, 25%);*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  /*background-color: hsl(223, 9%, 25%);*/
}

a {
  color: #004276;
}

figure {
  margin: 0;
}

h1 {
  font-family: "Libre Franklin", "Helvetica Neue", sans-serif;
}

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/*
  Column: 60px
  Gutter: 24px

  Body: 648px
    - 8 columns
    - 7 gutters
  Middle: 816px
  Page: 984px
    - 12 columns
    - 11 gutters
*/

.l-body,
.l-body-outset,
.l-page,
.l-page-outset,
.l-middle,
.l-middle-outset,
dt-article > div,
dt-article > p,
dt-article > h1,
dt-article > h2,
dt-article > h3,
dt-article > h4,
dt-article > figure,
dt-article > table,
dt-article > ol,
dt-article > blockquote,
dt-article > ul,
dt-article > dt-byline,
dt-article > dt-math,
dt-article > dt-code,
dt-article section > div,
dt-article section > p,
dt-article section > h1,
dt-article section > h2,
dt-article section > h3,
dt-article section > h4,
dt-article section > figure,
dt-article section > blockquote,
dt-article section > table,
dt-article section > ol,
dt-article section > ul,
dt-article section > dt-byline,
dt-article section > dt-code {
  width: auto;
  margin-left: 24px;
  margin-right: 24px;
  box-sizing: border-box;
}

@media(min-width: 768px) {
  .l-body,
  .l-body-outset,
  .l-page,
  .l-page-outset,
  .l-middle,
  .l-middle-outset,
  dt-article > div,
  dt-article > p,
  dt-article > h1,
  dt-article > h2,
  dt-article > h3,
  dt-article > h4,
  dt-article > figure,
  dt-article > table,
  dt-article > ol,
  dt-article > blockquote,
  dt-article > ul,
  dt-article > dt-byline,
  dt-article > dt-math,
  dt-article > dt-code,
  dt-article section > div,
  dt-article section > p,
  dt-article section > blockquote
  dt-article section > h1,
  dt-article section > h2,
  dt-article section > h3,
  dt-article section > h4,
  dt-article section > figure,
  dt-article section > table,
  dt-article section > ol,
  dt-article section > ul,
  dt-article section > dt-byline,
  dt-article section > dt-code {
    margin-left: 72px;
    margin-right: 72px;
  }
}

@media(min-width: 1080px) {
  .l-body,
  dt-article > div,
  dt-article > p,
  dt-article > blockquote,
  dt-article > h2,
  dt-article > h3,
  dt-article > h4,
  dt-article > figure,
  dt-article > table,
  dt-article > ol,
  dt-article > ul,
  dt-article > dt-byline,
  dt-article > dt-math,
  dt-article > dt-code,
  dt-article section > div,
  dt-article section > p,
  dt-article section > h2,
  dt-article section > h3,
  dt-article section > h4,
  dt-article section > figure,
  dt-article section > table,
  dt-article section > ol,
  dt-article section > blockquote,
  dt-article section > ul,
  dt-article section > dt-byline,
  dt-article section > dt-code {
    margin-left: calc(50% - 984px / 2);
    width: 648px;
  }
  .l-body-outset,
  dt-article .l-body-outset {
    margin-left: calc(50% - 984px / 2 - 96px/2);
    width: calc(648px + 96px);
  }
  .l-middle,
  dt-article .l-middle {
    width: 816px;
    margin-left: calc(50% - 984px / 2);
    margin-right: auto;
  }
  .l-middle-outset,
  dt-article .l-middle-outset {
    width: calc(816px + 96px);
    margin-left: calc(50% - 984px / 2 - 48px);
    margin-right: auto;
  }
  dt-article > h1,
  dt-article section > h1,
  .l-page,
  dt-article .l-page,
  dt-article.centered .l-page {
    width: 984px;
    margin-left: auto;
    margin-right: auto;
  }
  .l-page-outset,
  dt-article .l-page-outset,
  dt-article.centered .l-page-outset {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .l-screen,
  dt-article .l-screen,
  dt-article.centered .l-screen {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .l-screen-inset,
  dt-article .l-screen-inset,
  dt-article.centered .l-screen-inset {
    margin-left: 24px;
    margin-right: 24px;
    width: auto;
  }
  .l-gutter,
  dt-article .l-gutter {
    clear: both;
    float: right;
    margin-top: 0;
    margin-left: 24px;
    margin-right: calc((100vw - 984px) / 2 + 168px);
    width: calc((984px - 648px) / 2 - 24px);
  }

  /* Side */
  .side.l-body,
  dt-article .side.l-body {
    clear: both;
    float: right;
    margin-top: 0;
    margin-left: 48px;
    margin-right: calc((100vw - 984px + 648px) / 2);
    width: calc(648px / 2 - 24px - 84px);
  }
  .side.l-body-outset,
  dt-article .side.l-body-outset {
    clear: both;
    float: right;
    margin-top: 0;
    margin-left: 48px;
    margin-right: calc((100vw - 984px + 648px - 48px) / 2);
    width: calc(648px / 2 - 48px + 24px);
  }
  .side.l-middle,
  dt-article .side.l-middle {
    clear: both;
    float: right;
    width: calc(456px - 84px);
    margin-left: 48px;
    margin-right: calc((100vw - 984px) / 2 + 168px);
  }
  .side.l-middle-outset,
  dt-article .side.l-middle-outset {
    clear: both;
    float: right;
    width: 456px;
    margin-left: 48px;
    margin-right: calc((100vw - 984px) / 2 + 168px);
  }
  .side.l-page,
  dt-article .side.l-page {
    clear: both;
    float: right;
    margin-left: 48px;
    width: calc(624px - 84px);
    margin-right: calc((100vw - 984px) / 2);
  }
  .side.l-page-outset,
  dt-article .side.l-page-outset {
    clear: both;
    float: right;
    width: 624px;
    margin-right: calc((100vw - 984px) / 2);
  }
}

/* Centered */

@media(min-width: 1080px) {
  .centered .l-body,
  .centered.l-body,
  dt-article.centered > div,
  dt-article.centered > p,
  dt-article.centered > h2,
  dt-article.centered > h3,
  dt-article.centered > h4,
  dt-article.centered > figure,
  dt-article.centered > table,
  dt-article.centered > ol,
  dt-article.centered > ul,
  dt-article.centered > dt-byline,
  dt-article.centered > dt-code,
  dt-article.centered section > div,
  dt-article.centered section > p,
  dt-article.centered section > blockquote,
  dt-article.centered section > h2,
  dt-article.centered section > h3,
  dt-article.centered section > h4,
  dt-article.centered section > figure,
  dt-article.centered section > table,
  dt-article.cebtered section > ol,
  dt-article.centered section > ul,
  dt-article.centered section > dt-byline,
  dt-article.centered section > dt-code,
  dt-article section.centered > div,
  dt-article section.centered > p,
  dt-article section.centered > h2,
  dt-article section.centered > blockquote,
  dt-article section.centered > h3,
  dt-article section.centered > h4,
  dt-article section.centered > figure,
  dt-article section.centered > table,
  dt-article section.centered > ol,
  dt-article section.centered > ul,
  dt-article section.centered > dt-byline,
  dt-article section.centered > dt-code {
    margin-left: auto;
    margin-right: auto;
    width: 648px;
  }
  .centered .l-body-outset,
  .centered.l-body-outset,
  dt-article.centered .l-body-outset {
    margin-left: auto;
    margin-right: auto;
    width: calc(648px + 96px);
  }
  dt-article.centered > h1,
  dt-article.centered section > h1,
  dt-article section.centered > h1,
  .centered .l-middle,
  .centered.l-middle,
  dt-article.centered .l-middle {
    width: 816px;
    margin-left: auto;
    margin-right: auto;
  }

  .centered .l-middle-outset,
  .centered.l-middle-outset,
  dt-article.centered .l-middle-outset {
    width: calc(816px + 96px);
    margin-left: auto;
    margin-right: auto;
  }

  /* page and screen are already centered */

  /* Side */

  .centered .side.l-body,
  .centered dt-article .side.l-body {
    clear: both;
    float: right;
    margin-top: 0;
    margin-left: 48px;
    margin-right: calc((100vw - 648px) / 2);
    width: calc(4 * 60px + 3 * 24px);
  }
  .centered .side.l-body-outset,
  .centered dt-article .side.l-body-outset {
    clear: both;
    float: right;
    margin-top: 0;
    margin-left: 48px;
    margin-right: calc((100vw - 648px) / 2);
    width: calc(4 * 60px + 3 * 24px);
  }
  .centered .side.l-middle,
  .centered dt-article .side.l-middle {
    clear: both;
    float: right;
    width: 396px;
    margin-left: 48px;
    margin-right: calc((100vw - 984px) / 2 + 168px / 2);
  }
  .centered .side.l-middle-outset,
  .centered dt-article .side.l-middle-outset {
    clear: both;
    float: right;
    width: 456px;
    margin-left: 48px;
    margin-right: calc((100vw - 984px) / 2 + 168px);
  }
  .centered .side.l-page,
  .centered dt-article .side.l-page {
    clear: both;
    float: right;
    width: 480px;
    margin-right: calc((100vw - 584px) / 2);
  }
  .centered .side.l-page-outset,
  .centered dt-article .side.l-page-outset {
    clear: both;
    float: right;
    width: 480px;
    margin-right: calc((100vw - 584px) / 2);
  }
  .centered .l-gutter,
  .centered.l-gutter,
  dt-article.centered .l-gutter {
    clear: both;
    float: right;
    margin-top: 0;
    margin-left: 24px;
    margin-right: calc((100vw - 984px) / 2);
    width: calc((984px - 648px) / 2 - 24px);
  }

}

/* Rows and Columns */

.row {
  display: flex;
}
.column {
  flex: 1;
  box-sizing: border-box;
  margin-right: 24px;
  margin-left: 24px;
}
.row > .column:first-of-type {
  margin-left: 0;
}
.row > .column:last-of-type {
  margin-right: 0;
}
dt-article {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font: 17px/1.55em -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  padding-bottom: -10px;
  background: white;
}

@media(min-width: 1024px) {
  dt-article {
    font-size: 20px;
  }
}

/* H1 */

dt-article h1 {
  margin-top: 18px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}
@media(min-width: 768px) {
  dt-article h1 {
    font-size: 46px;
    margin-top: 48px;
    margin-bottom: 12px;
  }
}

@media(min-width: 1080px) {
  .centered h1 {
    text-align: center;
  }

  dt-article h1 {
    font-size: 50px;
    letter-spacing: -0.02em;
  }

  dt-article > h1:first-of-type,
  dt-article section > h1:first-of-type {
    margin-top: 80px;
  }
}


@media(min-width: 1200px) {
  dt-article h1 {
    font-size: 56px;
  }

  dt-article > h1:first-of-type {
    margin-top: 100px;
  }
}

/* H2 */

dt-article h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.25em;
  margin-top: 36px;
  margin-bottom: 24px;
}

blockquote {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25em;
  margin-top: 66px;
  margin-bottom: 66px;

}

@media(min-width: 1024px) {
  dt-article h2 {
    margin-top: 48px;
    font-size: 30px;
  }
}

dt-article h1 + h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4em;
  margin-top: 8px;
  font-style: normal;
}


@media(min-width: 1080px) {
  .centered h1 + h2 {
    text-align: center;
  }
  dt-article h1 + h2 {
    margin-top: 12px;
    font-size: 24px;
  }
}

/* H3 */

dt-article h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4em;
  margin-top: 36px;
  margin-bottom: 18px;
  font-style: italic;
}

dt-article h1 + h3 {
  margin-top: 48px;
}

@media(min-width: 1024px) {
  dt-article h3 {
    font-size: 26px;
  }
}

/* H4 */

dt-article h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4em;
}

dt-article a {
  color: inherit;
}

dt-article p,
dt-article ul,
dt-article ol {
  margin-bottom: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

dt-article p b,
dt-article ul b,
dt-article ol b {
  -webkit-font-smoothing: antialiased;
}

dt-article a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

dt-article a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

dt-article .link {
  text-decoration: underline;
  cursor: pointer;
}

dt-article ul,
dt-article ol {
  padding-left: 24px;
}

dt-article li {
  margin-bottom: 24px;
  margin-left: 0;
  padding-left: 0;
}

dt-article pre {
  font-size: 14px;
  margin-bottom: 20px;
}


dt-article hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 60px;
  margin-bottom: 60px;
}

dt-article section {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Tables */

dt-article table {
  border-collapse: collapse;
}

dt-article table th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

dt-article table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

dt-article table th,
dt-article table td {
  font-size: 15px;
  padding: 2px 0;
}

/* Figure */

dt-article figure {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media(min-width: 1024px) {
  dt-article figure {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

dt-article figure img {
  width: 100%;
}

dt-article figure svg text,
dt-article figure svg tspan {
}

dt-article figure figcaption {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 1.5em;
}
@media(min-width: 1024px) {
  dt-article figure figcaption {
    font-size: 13px;
  }
}

dt-article figure.external img {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  padding: 18px;
  box-sizing: border-box;
}

dt-article figure figcaption a {
  color: rgba(0, 0, 0, 0.6);
}

dt-article span.equation-mimic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 115%;
  font-style: italic;
}

dt-article figure figcaption b {
  font-weight: 600;
  color: rgba(0, 0, 0, 1.0);
}

dt-article > dt-code,
dt-article section > dt-code  {
  display: block;
}

dt-article .citation {
  color: #668;
  cursor: pointer;
}

dt-include {
  width: auto;
  display: block;
}
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */



.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media print {
  @page {
    size: 8in 11in;
  }
  html {
  }
  p, code {
    page-break-inside: avoid;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  dt-header {
    visibility: hidden;
  }
  dt-footer {
    display: none!important;
  }
}






dt-header {
  display: block;
  position: relative;
  height: 60px;
  background-color: hsl(200, 60%, 15%);
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}
dt-header .content {
  height: 70px;
}
dt-header a {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 22px 0;
}
dt-header a:hover {
  color: rgba(255, 255, 255, 1);
}
dt-header svg {
  width: 24px;
  position: relative;
  top: 4px;
  margin-right: 2px;
}
@media(min-width: 1080px) {
  dt-header {
    height: 70px;
  }
  dt-header a {
    height: 70px;
    line-height: 70px;
    padding: 28px 0;
  }
  dt-header .logo {
  }
}
dt-header svg path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 3px;
}
dt-header .logo {
  font-size: 17px;
  font-weight: 200;
}
dt-header .navy{
  float: right;
  font-weight: 300;
}
dt-header .navy a {
  font-size: 12px;
  margin-left: 24px;
  text-transform: uppercase;
}





 dt-cite {
      color: hsla(206, 90%, 20%, 0.7);
    }
    dt-cite .citation-number {
      cursor: default;
      white-space: nowrap;
      font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, sans-serif;
      font-size: 75%;
      color: hsla(206, 90%, 20%, 0.7);
      display: inline-block;
      line-height: 1.1em;
      text-align: center;
      position: relative;
      top: -2px;
      margin: 0 2px;
    }
    figcaption dt-cite .citation-number {
      font-size: 11px;
      font-weight: normal;
      top: -2px;
      line-height: 1em;
    }






dt-footer {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
  padding: 40px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: hsl(200, 60%, 15%);
  text-align: center;
}
dt-footer .logo svg {
  width: 24px;
  position: relative;
  top: 4px;
  margin-right: 2px;
}
dt-footer .logo svg path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 3px;
}
dt-footer .logo {
  font-size: 17px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  margin-right: 6px;
}
dt-footer .navy{
  margin-top: 12px;
}
dt-footer .navy a {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 6px;
}

/* Hero */

.hero {
  font-family: "Roboto", sans-serif;
  background-color: hsl(200, 60%, 20%);
  color: white;
  padding: 40px 0 40px;
}
.hero h1 {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.3em;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
  margin-bottom: 0;
}
@media(min-width: 768px) {
  .hero h1 {
    font-size: 40px;
    padding: 40px 0;
  }
}
@media(min-width: 1080px) {
  .hero h1 {
    font-size: 46px;
    padding: 40px 0;
  }
  .hero h1 span {
    display: block;
  }
}
@media(min-width: 1200px) {
  .hero h1 {
    /*padding-top: 80px;*/
  }
}
.hero h1 b {
  /*color: white;*/
  font-weight: 600;
}

/* Actions */

.actions {
  background-color: hsl(200, 50%, 25%);
  color: white;
  padding: 20px 0 30px;
}
@media(min-width: 1024px) {
  .actions {
    padding: 0;
  }
  .actions .content {
    display: flex;
  }
}
.actions a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  /*margin: 0 0 20px;*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  /*padding: 0 0 24px;*/
  padding: 30px 0;
}
.actions a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.actions a:hover h3 {
  text-decoration: underline;
}
.actions a:last-of-type {
  border: none;
}
@media(min-width: 1024px) {
  .actions a {
    padding: 40px 12px 40px 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: none;
    width: 400px;
  }
  .actions a:last-of-type {
    margin: 0;
  }
}
.actions .illustration {
  height: 90px;
  width: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 0px;
}
@media(min-width: 768px) {
  .actions .illustration {
    top: 10px;
  }
}
@media(min-width: 1024px) {
  .actions .illustration {
    height: 95px;
    width: 95px;
    top: 30px;
    left: 10px;
  }
}
.actions .illustration.journal {
  background-image: url(https://files.suryad.com/api/containers/container1/download/icons-journal.svg/);
}
.actions .illustration.prize {
  background-image: url(https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67);
}
.actions .illustration.tools {
  background-image: url(https://cdn2.iconfinder.com/data/icons/social-media-free-9/32/github_social_media_logo-128.png);
}
.actions h3 {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto";
  font-size: 15px;
  font-style: 600;
  margin: 0 0 3px 110px;
  text-transform: uppercase;
}
.actions h3::after {
    content: "";
    width: 6px;
    height: 6px;
    border-right: solid 1px rgba(255, 255, 255, 0.6);
    border-top: solid 1px rgba(255, 255, 255, 0.6);
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -2px;
    margin-left: 7px;
}
.actions p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  margin: 0 0 0 110px;
  -webkit-font-smoothing: antialiased;

}
.actions a.button {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  padding: 8px 0;
  text-transform: uppercase;
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 12px;
  border-radius: 4px;
}

/* Section */

section {
  position: relative;
  font-family: "Roboto";
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #f4f4f4;
}
@media(min-width: 768px) {
  section {
    padding: 80px 0;
  }
}
section figure {
  display: block;
  margin-bottom: 36px;
}
section figcaption {
  font-size: 13px;
  line-height: 1.5em;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}
section figure img {
  box-sizing: border-box;
  width: 100%;
}
section figure .content {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
}
section h2 {
  font-size: 26px;
  line-height: 1.3em;
  margin: 0;
  font-weight: 400;
}
@media(min-width: 375px) {
  section h2 {
    font-size: 30px;
  }
}
@media(min-width: 768px) {
  section h2 {
    font-size: 32px;
  }
}
section p {
  font-family: "Roboto", "Open Sans";
  color: rgba(0, 0, 0, 0.8);
  font-size: 17px;
  line-height: 1.6em;
  margin-bottom: 40px;
}
@media(min-width: 768px) {
  section p {
    margin-bottom: 0;
  }
  section figure {
    margin-bottom: 0;
  }
  section > .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section:nth-of-type(2n) > .columns {
    flex-direction: row-reverse;
  }
  section figure {
    width: 55%;
  }
  section .description {
    width: 37%;
  }
}

/* People */

.people {
  overflow: hidden;
}
.people .editors,
.people .committee {
  clear: both;
  overflow: scroll;
}
@media(min-width: 1080px) {
  .people .editors {
    display: flex;
    flex-direction: column;
    width: 22.5%;
    float: left;
  }
  .people .committee {
    clear: none;
    margin-left: 5%;
    width: 72.5%;
    float: left;
  }
  .people .columns {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
  }
}
.people .editors h3,
.people .committee h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 12px;
}
@media(min-width: 1080px) {
  .people .editors h3,
  .people .committee h3 {
    margin-top: 26px;
  }
}
.person {
  width: 255px;
  padding-right: 10px;
  position: relative;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 16px;
  min-height: 50px;
  float: left;
}
.person .mug {
  position: absolute;
  top: 4px;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.person .mug:hover .name {
  text-decoration: underline;
}
.person .mug img {
  width: 100%;
  position: absolute;
}
.person .name {
  margin-top: 6px;
  margin-left: 60px;
  font-weight: 600;
  display: block;
  color: black;
  text-decoration: none;
}
.person .affiliation {
  margin-left: 60px;
  display: block;
  color: black;
  text-decoration: none;
}
.person .name:hover, .person .affiliation:hover {
  text-decoration: underline;
}

/* Specific sections */
.modern-medium .content {
  background: white;
  padding: 30px;
  margin-bottom: 24px;
  box-sizing: border-box;
}
.modern-medium figure {
  width: 280px;
  box-sizing: border-box;
  margin: 0 auto;
}
.modern-medium figcaption {
  width: 280px;
  margin: 24px auto 0;
}

@media(min-width: 768px) {
  .modern-medium .description {
    align-self: flex-start;
    width: 50%;
  }
  .modern-medium figure {
    margin: 0 0 0 20px;
  }
  .modern-medium figure .content {
    width: 300px;
  }
  .modern-medium figcaption {
    margin-left: 0;
    margin-right: 0;
  }
  .modern-medium .content {
    margin-bottom: 0px;
  }
}
@media(min-width: 960px) {
  .modern-medium .description {
    width: 45%;
  }
  .modern-medium figcaption::before {
    content: " ";
    background-image: url(pointer.svg);
    width: 26px;
    height: 26px;
    display: block;
    position: relative;
    top: -15px;
  }
  .modern-medium figure {
    display: flex;
    width: 470px;
  }
  .modern-medium figcaption {
    margin-left: 24px;
    align-self: flex-end;
    /*width: 14%;*/
  }
}
/*@media(min-width: 1080px) {
  .modern-medium .description {
    width: 45%;
  }
  .modern-medium figure {
    margin-left: 8%;
  }
}*/
/**/
.clear-writing {
  padding-bottom: 0;
}
.clear-writing .description {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media(min-width: 960px) {
  .clear-writing .description {
    max-width: 510px;
  }
}
.clear-writing figure {
  width: 170%;
  left: -40%;
  position: relative;
  z-index: 0;
  margin-top: -20px;

}
@media(min-width: 768px) {
  .clear-writing figure {
    margin-top: 0px;
  }
}
@media(min-width: 1080px) {
  .clear-writing figure {
    margin-top: -80px;
    width: 170%;
    left: -35%;
  }
}


@media screen and (max-width: 500px) {
  .topnav {display: none;}
}




.clear { clear: both !important; }
